


.cardalign{
    display:block;
    margin:30px;
}

.service2 h1{
    text-align:center;
    
}
.service2 p{
    text-align:center;   
}
.servicecard{
    padding:20px;
}
.salign{
    padding:20px
}
.sdalign{
    text-align:left;
}
.sdalign p{
    padding:0;
}






